<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>GPS 定位監控</title>

  <link href="/static/css/history_control.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/css/history_menu.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_xrySG3MlQuGCwglYYeXztFQehgNGDbw"></script>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="http://terikon.github.io/marker-animate-unobtrusive/demo/vendor/jquery.easing.1.3.js"></script>
  <script src="http://terikon.github.io/marker-animate-unobtrusive/demo/vendor/markerAnimate.js"></script>
  <script src="http://terikon.github.io/marker-animate-unobtrusive/demo/SlidingMarker.js"></script>
  <script src="/static/js/jscolor.js"></script>

  <!-- MQTT -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
  <script>
    var map,polyline,area,setarea,set_ana,temp1 = 0, temp2 = 0, temp3 = 0;
    var polys = [], p;
    var point_array = [];
    var EF_array =[];
    var EF_array1 = [];
    function initialize(){
      var myLatlng = new google.maps.LatLng(24.944, 121.3695);
      var mapOptions = {
        zoom: 15,
        center: myLatlng,
        zoomControl: true,
        scaleControl: false,
        rotateControl: false,
        mapTypeControl: false,
        streetViewControl: false,
        fullscreenControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
    }


    function setline(){
      var points= [];
      {% for data in datas %}

      var temp = {lat: {{data.latitude}}, lng: {{data.longitude}}};
      points.push(temp);
      {% endfor %}
      console.log(points);
      if(!polyline){
        polyline = new google.maps.Polyline({
          path: points,
          strokeColor: '#FF0000',
          strokeOpacity: 0.7,
          strokeWeight:  5
        });
      }
      polyline.setMap(map);
    }

      function remove_line(){
        polyline.setMap(null);
      }


      area = [
      {lat: 24.947328, lng:121.3712668}, 
      {lat: 24.9468027, lng:121.3700652},
      {lat: 24.9455381, lng:121.3680267},
      {lat: 24.9428532, lng:121.3651085},
      {lat: 24.9425224, lng:121.364615},
      {lat: 24.9407324, lng:121.3628983},
      {lat: 24.9403822, lng:121.3628125},
      {lat: 24.9394094, lng:121.3628554},
      {lat: 24.9390786, lng:121.36307},
      {lat: 24.939137, lng:121.3642716},  
      {lat: 24.9393121, lng:121.3658595},  
      {lat: 24.9393705, lng:121.3662887},  
      {lat: 24.9392148, lng:121.3670397}, 
      {lat: 24.9395067, lng:121.3675332},  
      {lat: 24.9397985, lng:121.3678765}, 
      {lat: 24.9409075, lng:121.3683271}, 
      {lat: 24.9412188, lng:121.3685632},
      {lat: 24.9415885, lng:121.3693571}, 
      {lat: 24.9441567, lng:121.3736701},  
      {lat: 24.947328, lng:121.3712668}, 
      ];

      ana = [
        {lat:24.96, lng:121.33}, //左上
        {lat:24.96, lng:121.40}, //右上
        {lat:24.92, lng:121.40}, //右下
        {lat:24.92, lng:121.33}, //左下
      ];

      function set_area(points){
        if(temp2 == 0){
          var w = 0.00005;
          var h = w;

          for(var i = 0; i < points.length; i++){
            var fence = [
            {lat: points[i][0] + h, lng: points[i][1] - w},
            {lat: points[i][0] + h, lng: points[i][1] + w},
            {lat: points[i][0] - h, lng: points[i][1] + w},
            {lat: points[i][0] - h, lng: points[i][1] - w}
            ];

            setarea = new google.maps.Polygon({
              position: {lat: points[i][0], lng: points[i][1]},
              path: fence,
              strokeColor: '#FF0000',  
              strokeOpacity: 0,  
              strokeWeight: 1,  
              fillColor: '#FF0000',  
              fillOpacity: 0.4
            });
            point_array.push(setarea);
            setarea.setMap(map);
          }
          temp2 = 1;
        }
        else{
          for(var i = 0; i < points.length; i++){
            point_array[i].setMap(null);
          }
          point_array = [];
          temp2 = 0;
        }
      }

      function set_EF(spacelist,valuelist,color){
        if(temp3 == 0){
          for(var i = 0; i < spacelist.length; i++){
            var fence = [
            {lat: spacelist[i][0][0], lng: spacelist[i][0][1]},
            {lat: spacelist[i][1][0], lng: spacelist[i][1][1]},
            {lat: spacelist[i][2][0], lng: spacelist[i][2][1]},
            {lat: spacelist[i][3][0], lng: spacelist[i][3][1]}
            ]; 

          
            setEF = new google.maps.Polygon({
              position: {lat: spacelist[i][0][0], lng: spacelist[i][0][1]},
              path: fence,
              strokeColor: '#000000',  
              strokeOpacity: 0.1,  
              strokeWeight: 1,  
              fillColor: '#000',  
              fillOpacity: 0
            });
            EF_array.push(setEF);
            setEF.setMap(map);
          }
          for(var i = 0; i < valuelist.length; i++){
            var fence = [
            {lat: valuelist[i][0][0], lng: valuelist[i][0][1]},
            {lat: valuelist[i][1][0], lng: valuelist[i][1][1]},
            {lat: valuelist[i][2][0], lng: valuelist[i][2][1]},
            {lat: valuelist[i][3][0], lng: valuelist[i][3][1]}
            ]; 

            var col = color;
            var c = valuelist[i][4];
            setEF1 = new google.maps.Polygon({
              position: {lat: valuelist[i][0][0], lng: valuelist[i][0][1]},
              path: fence,
              strokeColor: '#000000',  
              strokeOpacity: 0,  
              strokeWeight: 1,  
              fillColor: col,  
              fillOpacity: 0.1*c
            });
            EF_array1.push(setEF1);
            setEF1.setMap(map);
          }
          temp3 = 1;
        }
        else{
          for(var i = 0; i < spacelist.length; i++){
            EF_array[i].setMap(null);
          }
          for(var i = 0; i < valuelist.length; i++){
            EF_array1[i].setMap(null);
          }
          EF_array = [];
          EF_array1 = [];
          temp3 = 0;
        }
      }
      function setTextColor(picker) {
        var color = '#' + picker.toString();
        if(temp3 == 0){
          set_EF({{spacelist}},{{valuelist}},color);
        }
        else if(temp3 == 1){
          set_EF({{spacelist}},{{valuelist}},color);
          set_EF({{spacelist}},{{valuelist}},color);
        }
      }
///////////////////////////////////////////////////////////////////////////////////////

$(function () {
  initialize(null);
  console.log("func");
  set_EF({{ spacelist }},{{valuelist}},'#000000');
});

function toggleSidebar(){
  document.getElementById("sidebar").classList.toggle('active');
}
</script>

<style src = "style.css"></style>
</head>
<body>
  <div id="sidebar">
    <div class="toggle-btn" onclick ="toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class ="user">
      <i class="fas fa-bars fa-2x" onclick="toggleSidebar()" style = "color:#666666;margin-left:220px;margin-top:10px;"></i>
      <ul>
        <li>
          <div class="circle">
            <div class="inner" style="background-image: url('{{pic}}');"></div>
          </div>
          <p>{{user}}</p> <!-- put user here dynamically -->
          <!--<a href="{{ url_for('logout') }}">登出</a>-->
        </li>
      </ul>
    </div>
    <nav class="list">
      <ul>
        <li><a href = "{{ url_for('home') }}"><i class ="fas fa-home" ></i>首頁</a></li>
        <!--<li><a href = "{{ url_for('supervise') }}"><i class ="fas fa-shoe-prints" ></i>嗨</a></li>-->
      </ul>
    </nav>

    <nav class="list">
      <ul>
        <li><a href = "{{ url_for('supervise') }}"><i class ="fas fa-shoe-prints" ></i>即時追蹤</a></li>
        <li><a href = "{{ url_for('history') }}" style="color:#EE7700"><i class ="fas fa-history" ></i>歷史分析</a></li>
      </ul>
    </nav>

    <nav class ="mid">
      <ul>
        <li><a href = "http://localhost:5000/account#account"><i class ="fas fa-sliders-h" ></i>帳戶管理</a></li>
      </ul>
    </nav>

    <nav class = "tool">
      <h3>設定</h3>

     <form method="POST" action="{{ url_for('history_display') }}">
       {{ select.csrf_token }}
        <div class="set">
        {{select.user.label}}
        {{select.user}}
        </div>
        
        <div class="set">
         {{ select.date.label }}
         {{ select.date }}
        </div>
        
        <div class="set">
         {{ select.begin_time.label }}
         {{ select.begin_time }}
        </div>
        
        <div class="set">
         {{ select.duration.label }}
         {{ select.duration }}
        </div>

        <div class="set">
         <input type="submit" value="顯示歷史路徑">
        </div>

      </form>

      <div class="set">
        <input type="submit" onclick="remove_line()" value="刪除歷史路徑">
      </div>
    </nav>
    <nav class = "tool">
      <h3>電子圍籬</h3>
      <form method="POST" action="{{ url_for('history') }}">
        <div class="set">
          <label for="user">分割大小:</label>
          <select id="user" name="FenceScale">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div class="set">
          <input type="submit" value="顯示/刪除電子圍籬">
        </div>
      </form>
      <div class="set">
        <button class = "jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'}">選擇電子圍籬顏色</button>
      </div>
    </nav>
 </div>

   <div id="map_canvas"></div>
 </body>
 </html>
