<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>GPS 定位監控</title>
  <link href="http://terikon.github.io/marker-animate-unobtrusive/demo/unobtrusive/map.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="/static/css/history_control.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/css/history_menu.css" />
  <link rel="stylesheet" href="/static/css/master_supervise.css">
  <link rel="stylesheet" href="/static/css/master_history.css">
  <link rel="stylesheet" href="/static/css/slider.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-slider.css">
  <script src="/static/js/bootstrap-slider.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_xrySG3MlQuGCwglYYeXztFQehgNGDbw&libraries=geometry"></script>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="http://terikon.github.io/marker-animate-unobtrusive/demo/vendor/jquery.easing.1.3.js"></script>
  <script src="http://terikon.github.io/marker-animate-unobtrusive/demo/vendor/markerAnimate.js"></script>
  <script src="http://terikon.github.io/marker-animate-unobtrusive/demo/SlidingMarker.js"></script>
  <!-- MQTT -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/static/js/jscolor.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script>
    var map,polyline,area,setarea,set_ana,setEF,setEF1,marker,num,keypoint,temp1 = 0, temp2 = 0, fenceInitialize = 0, spacelng = 0, valuelng = 0, filenumber = 0;
    // fenceInitialize = temp3 =>> whether the fence have been draw before
    var numbers = '12345678910';
    var counter = 0;
    var polys = [], p;
    var point_array = [];
    var EF_array =[];
    var EF_array1 = [];
    var number_array = [];
    var Global_color = '#000000';
    var Global_spacelist = [];
    var Global_valuelist = [];
    var Global_fenceScale = 10;
    var Global_centerlat;
    var Global_centerlng;
    var Global_date = [];
    function initialize(){
      var myLatlng = new google.maps.LatLng(24.944, 121.3695);
      var mapOptions = {
        zoom: 15,
        center: myLatlng,
        zoomControl: true,
        scaleControl: false,
        rotateControl: false,
        mapTypeControl: false,
        streetViewControl: false,
        fullscreenControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
      map.addListener('idle', function() {
        var c = map.getCenter();
        Global_centerlat = map.getCenter().lat(); 
        Global_centerlng = map.getCenter().lng();
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT + '/Move_Fence', {
          lat : Global_centerlat,
          lng : Global_centerlng,
          fenceScale : Global_fenceScale
            // send lat, lng through JQuery
          }, function(data){
            console.log('move change');
            if(getCookie('FenceColor'))
            {
              Global_color = getCookie('FenceColor');
            }
            // flask send back data through JQuery
            if(fenceInitialize == 0){
              Global_spacelist = data[0];
              Global_valuelist = data[1];
              set_EF(data[0],data[1],Global_color);
              fenceInitialize = 1;
            }
            else if(fenceInitialize == 1){
              clear();
              Global_spacelist = data[0];
              Global_valuelist = data[1];
              set_EF(data[0],data[1],Global_color);
            }
          }); 
      });

        // If the fenceScale change change cookie
        var optionListener = document.getElementById("FenceScaleSelect");
        optionListener.addEventListener("change", function() {

          var option = optionListener.value;
          setCookie('FenceScale', option);
          Global_fenceScale = option;
          $.getJSON($SCRIPT_ROOT + '/Move_Fence', {
            lat : Global_centerlat,
            lng : Global_centerlng,
            fenceScale : Global_fenceScale
                // send lat, lng through JQuery
              }, function(data){
                if(getCookie('FenceColor'))
                {
                  Global_color = getCookie('FenceColor');
                }
                // flask send back data through JQuery
                if(fenceInitialize == 0){
                  Global_spacelist = data[0];
                  Global_valuelist = data[1];
                  set_EF(data[0],data[1],Global_color);
                  fenceInitialize = 1;
                }
                else if(fenceInitialize == 1){
                  clear();
                  Global_spacelist = data[0];
                  Global_valuelist = data[1];
                  set_EF(data[0],data[1],Global_color);
                }
              });

          var fenceScale;
          if(getCookie('FenceScale'))
          {
            fenceScale = getCookie('FenceScale');
          }
          else
          {
            fenceScale = 10;
          }
          Global_fenceScale = fenceScale;
          $('#FenceScaleDefault').text(fenceScale);
        });

        var fenceScale;
        if(getCookie('FenceScale'))
        {
          fenceScale = getCookie('FenceScale');
        }
        else
        {
          fenceScale = 10;
        }
        Global_fenceScale = fenceScale;
        $('#FenceScaleDefault').text(fenceScale);
        // Set FenceScale to be the cookie
        
        $(function() {
        $( "#slider-range" ).slider({
              range: true,
              min: new Date('2018.01.01').getTime(),
              max: new Date('2019.01.01').getTime(),
              step: 86400, // every setp is one day
              values: [ new Date('2018.01.01').getTime(), new Date('2019.01.01').getTime()],
              slide: function( event, ui ) {
                $( "#amount" ).val( (new Date(ui.values[ 0 ]).toDateString() ) + " - " + (new Date(ui.values[ 1 ])).toDateString() );
                
                if (Global_date.length == 0)
                {
                    Global_date.push(ui.values[0]);
                    Global_date.push(ui.values[1]);
                } 
                else
                {
                    Global_date[0] = ui.values[0];
                    Global_date[1] = ui.values[1];
                }
              }
              //new Date(ui.values[ 0 ]) => user set start date
              //new Date(ui.values[ 1 ]) => user set end date
              //use .toDateString() just transform them into UI format
              //use .getTime() 距離1970/01/01 的秒數
              //或許我們能把這個秒數轉成string 像是 2018/01/01 資料庫比較好抓資料？

            });
            //initial presentation
            $( "#amount" ).val( (new Date($( "#slider-range" ).slider( "values", 0 )).toDateString()) +
              " - " + (new Date($( "#slider-range" ).slider( "values", 1 ))).toDateString());
            
        });

        document.getElementById("submitDate").addEventListener("click", function () {
            console.log(Global_date[0]);
            console.log(Global_date[1]);
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT + '/change_Date', {
              startDate : Global_date[0],
              endDate : Global_date[1],
              lat : Global_centerlat,
              lng : Global_centerlng,
              fenceScale : Global_fenceScale
              //   // send lat, lng through JQuery
              }, function(data){
                console.log('change_Date');
                if(getCookie('FenceColor'))
                {
                  Global_color = getCookie('FenceColor');
                }
                // flask send back data through JQuery
                if(fenceInitialize == 0){
                  Global_spacelist = data[0];
                  Global_valuelist = data[1];
                  set_EF(data[0],data[1],Global_color);
                  fenceInitialize = 1;
                }
                else if(fenceInitialize == 1){
                  clear();
                  console.log(data[0]);
                  console.log(data[1]);
                  Global_spacelist = data[0];
                  Global_valuelist = data[1];
                  set_EF(data[0],data[1],Global_color);
                }
              }); 
        });

      }

      function setCookie(name, value)
      {
        document.cookie=name+"="+escape(value)+"; path=/;";
      }

      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      function setline(){
        var points= [];
        {% for data in datas %}

        var temp = {lat: {{data.latitude}}, lng: {{data.longitude}}};
        points.push(temp);
        {% endfor %}
        if(!polyline){
          polyline = new google.maps.Polyline({
            path: points,
            strokeColor: '#FF0000',
            strokeOpacity: 0.7,
            strokeWeight:  5
          });
        }
        polyline.setMap(map);
      }

      function remove_line(){
        polyline.setMap(null);
      }

      function set_area(points){
        if(temp2 == 0){
          var w = 0.00005;
          var h = w;

          for(var i = 0; i < points.length; i++){
            var fence = [
            {lat: points[i][0] + h, lng: points[i][1] - w},
            {lat: points[i][0] + h, lng: points[i][1] + w},
            {lat: points[i][0] - h, lng: points[i][1] + w},
            {lat: points[i][0] - h, lng: points[i][1] - w}
            ];

            setarea = new google.maps.Polygon({
              position: {lat: points[i][0], lng: points[i][1]},
              path: fence,
              strokeColor: '#FF0000',  
              strokeOpacity: 0,  
              strokeWeight: 1,  
              fillColor: '#FF0000',  
              fillOpacity: 0.4
            });
            point_array.push(setarea);
            setarea.setMap(map);
          }
          temp2 = 1;
        }
        else{
          for(var i = 0; i < points.length; i++){
            point_array[i].setMap(null);
          }
          point_array = [];
          temp2 = 0;
        }
      }

      function set_EF(spacelist,valuelist,color){
        spacelng = spacelist.length;
        for(var i = 0; i < spacelist.length; i++){
          var fence = [
          // draw the rectangular four point
          {lat: spacelist[i][0][0], lng: spacelist[i][0][1]},
          {lat: spacelist[i][1][0], lng: spacelist[i][1][1]},
          {lat: spacelist[i][2][0], lng: spacelist[i][2][1]},
          {lat: spacelist[i][3][0], lng: spacelist[i][3][1]}
          ]; 

          setEF = new google.maps.Polygon({
            position: {lat: spacelist[i][0][0], lng: spacelist[i][0][1]},
            path: fence,
            strokeColor: '#000000',  
            strokeOpacity: 0.1,  
            strokeWeight: 1,  
            fillColor: '#000',  
            fillOpacity: 0
          });
          EF_array.push(setEF);
          setEF.setMap(map);
        }
        valuelng = valuelist.length;
        for(var i = 0; i < valuelist.length; i++){
          var fence = [
          // draw the rectangular four point
          {lat: valuelist[i][0][0], lng: valuelist[i][0][1]},
          {lat: valuelist[i][1][0], lng: valuelist[i][1][1]},
          {lat: valuelist[i][2][0], lng: valuelist[i][2][1]},
          {lat: valuelist[i][3][0], lng: valuelist[i][3][1]}
          ]; 

          var c = valuelist[i][4];
          // the scale from the value list
          setEF1 = new google.maps.Polygon({
            position: {lat: valuelist[i][0][0], lng: valuelist[i][0][1]},
            path: fence,
            strokeColor: '#000000',  
            strokeOpacity: 0,  
            strokeWeight: 1,  
            fillColor: Global_color,  
            fillOpacity: 0.1*c
          });

          if(i < 10){
            num = numbers[i];
            if(i == 9){
              num = '10';
            }
            var latt = valuelist[i][0][0] + (valuelist[i][3][0] - valuelist[i][0][0])/2;
            var lngg = valuelist[i][0][1] + (valuelist[i][1][1] - valuelist[i][0][1])/2;
            keypoint = 
            {lat: latt, lng: lngg};
            marker = new google.maps.Marker({
              position: keypoint,
              map: map,
              label: num
            });
            marker.setMap(map);
            number_array.push(marker);

            createRoute(setEF1,counter,valuelist);

            google.maps.event.addListener(setEF1,'mouseover',function(){
              this.setOptions({strokeColor: '#000000',strokeOpacity: 1, strokeWeight:2});
            }); 
            google.maps.event.addListener(setEF1,'mouseout',function(){
             this.setOptions({strokeOpacity: 0});
           }); 
          }

          EF_array1.push(setEF1);
          setEF1.setMap(map);
          counter++;
        }
      }

      
      function clear(){
        for(var i = 0; i < spacelng; i++){
          EF_array[i].setMap(null);
        }
        for(var i = 0; i < valuelng; i++){
          EF_array1[i].setMap(null);
        }
        for(var i = 0; i < 10; i++){
          number_array[i].setMap(null);
        }
        number_array = [];
        EF_array = [];
        EF_array1 = [];
        counter = 0;
      }
      function setTextColor(picker) {
        var color = '#' + picker.toString();
        if(fenceInitialize== 1){
          clear();
          Global_color = color;
          setCookie('FenceColor',Global_color)
          set_EF(Global_spacelist,Global_valuelist,Global_color);
        }
        else if(fenceInitialize == 0){
          Global_color = color;
          setCookie('FenceColor',Global_color)
          set_EF(Global_spacelist,Global_valuelist,Global_color);
          fenceInitialize=1;
        }
      }

      function remove(){
        $('#showpic-con').removeClass('showpic-con');
      }

      function createRoute(marker, routenum, valuelist){
        google.maps.event.addListener(marker,'click',function(){
           //    var route0 = "url('../static/images/streetview/";
           //    var route1 = ".jpg?t=" + Math.random() + "')";
           //    var route = route0 + routenum + route1;
              // document.getElementById('pic-container').style.backgroundImage = route;
              var fenway = {lat : valuelist[routenum][0][0] - 0.0005,lng : valuelist[routenum][0][1] + 0.0005}; 
              var panorama = new google.maps.StreetViewPanorama(
                document.getElementById('pic-container'), {
                  position: fenway,
                  pov: {
                    heading: 34,
                    pitch: 10
                  }
                });
              map.setStreetView(panorama);
              $('#showpic-con').addClass('showpic-con'); 
            });
      }
///////////////////////////////////////////////////////////////////////////////////////


$(function () {
  initialize(null);
  // set_EF({{spacelist}},{{valuelist}},'#000000');
});

function toggleSidebar(){
  document.getElementById("sidebar").classList.toggle('active');
}

</script>
<style src="style.css"></style>
</head>

<body>
  <div id="wrapper">
    <header class="navbar u-cf">
      <div class="container">
        <div class="title">
          <h2>管理者模式</h2>
        </div>
        <ul class="menu">
          <li class="four">
            <a href="{{ url_for('home') }}"><i class ="fas fa-home" ></i>首頁</a>
          </li>
          <li class="four">
            <a href="{{ url_for('master_supervise') }}"><i class ="fas fa-shoe-prints"></i>即時追蹤</a>
          </li>
          <li class="four">
            <a href="{{ url_for('master_history') }}"  class="current"><i class ="fas fa-history" ></i>歷史分析</a>
          </li>
          <li class="four">
            <a href="#people"><i class ="fas fa-cog" ></i>觀看設定</a>
          </li>
          <li>
            <a href="javascript:void(0)" class=setFence>
              <i class="far fa-object-ungroup fence_down_button"></i>電子圍籬
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown">
              <!-- <form id="elctFenceForm" method="POST" action="{{ url_for('master_history') }}"> -->
                <div class="set">
                  <!-- <li><a href="#">顯示電子圍籬</a></li> -->
                  <div id="submitElectFence">刪除電子圍籬</div>
                  <script type="text/javascript">
                    document.getElementById("submitElectFence").addEventListener("click", function () {
                      clear();
                      fenceInitialize=0;
                    });
                  </script>
                </div>
                <div class="set">
                  <label for="FenceScaleSelect">分割大小:</label>
                  <select id="FenceScaleSelect" name="FenceScale">
                    <option id="FenceScaleDefault" selected="selected"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="set">
                  <button class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'}">選擇電子圍籬顏色</button>
                </div>
                <!-- </form> -->
              </ul>
            </li>
          </ul>
        </div>
            <!-- <div class="nav_setFence">
            
            </div> -->
          </header>
          <!-- person -->
          <div id="people">
            <form method="post" action="{{ url_for('master_history') }}">
              <div class="cancel">
                <a href="#"><i class="far fa-times-circle fa-3x" style="color: rgba(256,256,256,0.9);"></i></a>
              </div>
              <div class="row">
                <div class="people_container">
                  <h3 style="text-align: center;">個人</h3>
                  <div class="small_container">
                    <div class="friend-list">
                      <div class="friends-pic">
                        <p>全部</p>
                      </div>
                      <div class="check">
                        <input type="checkbox" id="friendAll" name="people">
                        <span class="checkmark"></span>
                      </div>
                      <script type="text/javascript">
                       $("#friendAll").click(function () {
                        $(".friend_check").prop('checked', $(this).prop('checked'));
                      });
                    </script>
                  </div>
                  {% for friend in Friends %}
                  <div class="friend-list">
                    <div class="friends-pic" style="background-image: url('{{friend_pic[Friends.index(friend)]}}')"></div>
                    <div class="friends"> {{friend}}</div>
                    <div class="check">
                      <input class="friend_check" type="checkbox" value= {{friend}} name="people" id={{friend}}>
                      <span class="checkmark"></span>
                    </div>
                  </div>
                  <script type="text/javascript">
                    if({{CheckedFriend[friend]}})
                    {
                      console.log({{friend}}.id);
                      document.getElementById({{friend}}.id).checked = true;
                    }
                  </script>
                  {% endfor %}

                </div>
                <div class="confirm">
                  <input type="submit" value="確定">
                </div>
              </div>
            </div>   
          </form>                  
        </div>
        <!-- people -->
        <!-- <div id="people">
            <div class="cancel">
                <a href="#"><i class="far fa-times-circle fa-3x" style="color: rgba(256,256,256,0.9);"></i></a>
            </div>
            <div class="row">
                <div class="people_container">
                    <h2 style="text-align: center;">設定</h2>
                    <div class="tool">
                        <form method="POST" action="{{ url_for('master_history_display') }}">
                            {{ select.csrf_token }}
                            <div class="set">
                                {{select.user.label}}
                                <p>{{chosen_person}}</p>
                            </div>
                            <div class="set">
                                {{ select.date.label }}
                                {{ select.date }}
                            </div>
                            <div class="set">
                                {{ select.begin_time.label }}
                                {{ select.begin_time }}
                            </div>
                            <div class="set">
                                {{ select.duration.label }}
                                {{ select.duration }}
                            </div>
                            <div class="set">
                                <input type="submit" value="顯示歷史路徑">
                            </div>
                        </form>
                        <div class="set">
                            <a href = "#"><input type="submit" onclick="remove_line()" value="刪除歷史路徑" href = "#"></a>
                        </div>
                        <div class="set">
                            <a href="#"><input type="submit" onclick="set_area({{ points }})"value="顯示/刪除安全範圍"></a>
                        </div>
                    </div>
                </div>
            </div>
          </div> -->

          <!-- Slider -->
          <div class="slider-con">
            <script type="text/javascript">
                
            </script>
            <div>
              <input readonly="readonly" type="text" id="amount" class = "amount" size="100"/>
              <div class="button" id="submitDate" style="display: inline-block;">範圍確認</div>
              <!-- click this button to change database's range of date 還沒寫要怎麼執行，感覺是要跟cookie一起寫的 -->
            </div>
            <div id="slider-range"></div>
          </div>
          
          <!-- 360 scene -->
          <div id="showpic-con">
            <div class="cancel" onclick="remove()"><i class="fas fa-times fa-2x" style="color: rgba(0,0,0,0.6); cursor: pointer;"></i></div>
            <div class="pic-con" id="pic-container"></div>
          </div>
          <div id="map_canvas"></div>
        </div>
      </body>

      </html>